.profile {
  @apply h-96 w-4/5 p-3 dark:bg-gradient-to-r dark:from-lime-700 dark:via-cyan-700 dark:to-purple-700 transition-all;
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 209, 255, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 209, 255, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 209, 255, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00D1FF', endColorstr='#EE82EE', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 209, 255, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(238, 130, 238, 1) 0%,
    rgba(0, 209, 255, 1) 100%
  );
}

.updateProfile {
  @apply mx-auto px-3 py-2 rounded-md shadow-lg justify-end font-medium;
  animation: gradient 2s infinite alternate linear;

  /* ff 3.6+ */
  background: -moz-linear-gradient(
    146deg,
    rgba(43, 193, 49, 1) 0%,
    rgba(58, 153, 91, 1) 46%,
    rgba(49, 220, 255, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    146deg,
    rgba(43, 193, 49, 1) 0%,
    rgba(58, 153, 91, 1) 46%,
    rgba(49, 220, 255, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    146deg,
    rgba(43, 193, 49, 1) 0%,
    rgba(58, 153, 91, 1) 46%,
    rgba(49, 220, 255, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31DCFF', endColorstr='#2BC131', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    146deg,
    rgba(43, 193, 49, 1) 0%,
    rgba(58, 153, 91, 1) 46%,
    rgba(49, 220, 255, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    146deg,
    rgba(43, 193, 49, 1) 0%,
    rgba(58, 153, 91, 1) 46%,
    rgba(49, 220, 255, 1) 100%
  );
}

@keyframes gradient {
  to {
    filter: hue-rotate(90deg);
  }
}

.btn-container {
  @apply flex items-center justify-end w-full gap-4;
}
.btn-container:hover span {
  @apply opacity-100 select-none;
  transition: 1s all;
}

.button-account {
  @apply bg-red-600 rounded-xl p-2 font-medium w-auto hover:shadow-md hover:shadow-red-500;
  transition: 0.5s all;
}

.button-account img {
  @apply w-5 h-5;
}

.update__input__container {
  @apply flex flex-col ;
}

.close__update_section {
  @apply self-end absolute top-1 right-1 ;
}

